@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
  * need to toggle this class on the body when the bookmark btn is clicked. 
  */
.pos-fixed {
  position: fixed;
}

.bookmarks {
  position: fixed;
  top: 60px;
  bottom: 0;

  display: block;
  left: 0vw;
  transition: left 0.35s ease-in-out;

  background: $color-secondary-300;
  border-top: 5px dashed $color-primary-300;
  border-bottom: 5px dashed $color-primary-300;
  // 3 because the filer--section is z-index 2
  z-index: 3;

  padding-top: 2rem;
  padding-bottom: 2rem;

  overflow-y: scroll;

  width: 100%;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      border: none;
      background: transparent;
      color: $color-primary-300;
      cursor: pointer;

      &:hover {
        animation: spinning 1s ease-in-out;
      }

      i {
        font-size: 2rem;
      }
    }
  }

  &--body {
    margin-top: 1rem;

    & > * + * {
      margin-top: 1rem;
    }

    // @media screen and (max-width: $bp-medium) {

    // }
  }
}

.no-bookmarks {
  font-size: 20px;
}

.bm-card {
  display: flex;
  background: $color-secondary-100;
  box-shadow: $box-shadow-sm;

  &__header {
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
  }

  .card--body {
    display: flex;
    justify-content: center;
  }

  &__action {
    padding: 1rem;
    display: flex;
    align-items: center;

    button {
      border: none;
      cursor: pointer;
    }

    i {
      font-size: 1.5rem;
      color: $color-primary-100;
      background: inherit;
    }
  }
}

.dismissed-bookmarks {
  left: 100vw;
  display: none;
}
