.map {
  overflow: hidden;

  &--fixed {
    position: fixed;

    &__wrapper {
      height: 100%;
      width: 100%;
      position: relative;
    }
  }

  #mapid {
    width: 34vw;
    height: calc(100vh - 60px * 2);
    overflow: hidden;
  }
}

@media screen and (max-width: $bp-medium) {
  .map {
    display: none;
    visibility: none;
  }
}

.custom-popup {
  cursor: pointer;

  &:hover {
    z-index: 1000;
  }

  .leaflet-popup-content-wrapper {
    background: $color-primary-100;

    .leaflet-popup-content {
      text-align: center;
      color: #fff;
      font-size: 0.75rem;
      margin: 8px;
    }
  }
}

.leaflet-popup {
  .leaflet-popup-tip-container {
    .leaflet-popup-tip {
      background: $color-primary-100;
    }
  }
}
