.map {
  overflow: hidden;

  &--fixed {
    position: fixed;

    &__wrapper {
      height: 100%;
      width: 100%;
      position: relative;
    }
  }

  #mapid {
    width: 34vw;
    height: calc(100vh - 60px * 2 - 0.75rem);
    overflow: hidden;

    @media screen and (min-width: 1251px) {
      width: calc((1250px / 3) - 0.5rem);
    }
  }
}

@media screen and (max-width: $bp-medium) {
  .map {
    display: none;
    visibility: none;
  }
}

.custom-popup {
  cursor: pointer;

  .leaflet-popup-tip {
    background: $color-primary-100;
  }

  &:hover {
    z-index: 1000;

    .leaflet-popup-content-wrapper {
      background: $color-primary-300;
    }

    .leaflet-popup-tip {
      background: $color-primary-300;
    }
  }

  .leaflet-popup-content-wrapper {
    background: $color-primary-100;

    .leaflet-popup-content {
      text-align: center;
      color: #fff;
      font-size: 0.75rem;
      margin: 0.5rem;

      .popup__content {
        padding: 0.5rem;
      }
    }
  }
}

.leaflet-popup {
  .leaflet-popup-tip-container {
  }
}
